.form-container {
    width: 50%;
    display: flex;
    align-items: center;
    // justify-content: center;
    margin-left: 100px;
    margin-bottom: 50px;

    .tuner-container {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        left: 0;
        bottom: 0;

        >div {
            height: 50px;
        }
    }

    .form-item {
        margin-right: 70px;
    }
}